<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>runner0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runner1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{62,0},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runner2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{124,0},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runner3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{186,0},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runner4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{248,0},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runner5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{310,0},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runner6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{372,0},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>runner7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{434,0},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>running.png</string>
            <key>size</key>
            <string>{496,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efecf80a636fbffa252993a2ba1a2891:8b0ba647c40ecc0e01c1545769030b07:c6f54cd90e73bf73573beb07265492a6$</string>
            <key>textureFileName</key>
            <string>running.png</string>
        </dict>
    </dict>
</plist>
